<!--<div class="hard-skills-container">

    <ul class="hard-skills-list">
        <li>Google analytics</li>
        <li>Pack Office ( Excel - Word - PPT...)</li>
        <li>Magento</li>
        <li>Wordpress</li>
        <li>Boost it</li>
        <li>Amazon Sellar CentraL</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Canva</li>
        <li>InDesign</li>
        <li>Cegid</li>
    </ul>
</div>
-->
<div class="home-container">
    <!-- Affichage de l'image ici -->
    <img src="assets/logiciel/logiciels.jpg" alt="Description de l'image" class="home-image"/>
</div>
