<!--<div class="hard-skills-container">
    <h1>Compétences techniques</h1>

    <ul class="hard-skills-list">
        <li>Leadership et management</li>
        <li>Stratégie marketing / plan</li>
        <li>Analyses de données</li>
        <li>B2B B2C</li>
        <li>Sensibilité produit</li>
        <li>Connaissance Site internet / marketplaces</li>
        <li>Création & stratégie de contenu</li>
        <li>SEO</li>
        <li>Pilotage gestion de projet</li>
        <li>Pilotage des agences ou partenaires externes</li>
        <li>UI Design</li>
        <li>Réseaux sociaux</li>
        <li>Animation commerciale</li>
        <li>Gamification</li>
        <li>Négociation</li>
        <li>Evènementiel</li>
        <li>Service client</li>
    </ul>
</div>-->
<div class="home-container">
    <!-- Affichage de l'image ici -->
    <img src="assets/hard/hardskill.jpg" alt="Description de l'image" class="home-image"/>
</div>