<!--<div class="home-container">
  <h1>Bienvenue sur notre site</h1>
  <h2>VIGOT Laëtitia</h2>
  <p>
    Responsable marketing - COMMUNICATION<br/>
    Forte d'une expérience en marketing, communication, animation commerciale et E-commerce, j'ai contribué à dynamiser les ventes et optimiser la performance digitale dans divers secteurs (mode, électroménager, banque, télécoms). Créative, proactive et orientée résultats, je conçois des solutions innovantes pour stimuler la croissance et répondre aux besoins du marché.
  </p>
  
  <div class="sectors-list">
    <div class="sector-item">
      <div class="sector-card">
        <h3>Secteur MODE</h3>
      </div>
    </div>
    <div class="sector-item">
      <div class="sector-card">
        <h3>Secteur BANQUE</h3>
      </div>
    </div>
    <div class="sector-item">
      <div class="sector-card">
        <h3>Secteur ELECTROMENAGER</h3>
      </div>
    </div>
    <div class="sector-item">
      <div class="sector-card">
        <h3>Secteur IA</h3>
      </div>
    </div>
    <div class="sector-item">
      <div class="sector-card">
        <h3>Secteur TELECOMMUNICATION</h3>
      </div>
    </div>
  </div>
</div>
-->
<div class="home-container">
  <!-- Affichage de l'image ici -->
  <img src="assets/about/about.jpg" alt="Description de l'image" class="home-image"/>
</div>