<div class="home-container">
    <!-- Affichage de l'image ici -->
    <img src="assets/IA/IA1.png" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA2.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA3.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA4.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA5.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA6.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA7.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA8.jpg" alt="Description de l'image" class="home-image"/>
    <img src="assets/IA/IA9.jpg" alt="Description de l'image" class="home-image"/>
</div>
